<div class="navigation-bar">
    <div class="nav-bar-region">
        <div class="button-nav-bar">
            <div class="button-nav-bar-animation">Home</div>
        </div>
        <a href="@Url.Action("Index", "Search")"><div class="button-nav-bar">
            <div class="button-nav-bar-animation">Search</div>
        </div> </a>
        <a href="@Url.Action("LogIn", "Account")"> <div class="button-nav-bar">
            <div class="button-nav-bar-animation">Log in</div>
        </div> </a>
        <a href="@Url.Action("Register", "Account")"> <div class="button-nav-bar">
            <div class="button-nav-bar-animation">Join now</div>
        </div> </a>
    </div>  
</div>
