<div class="navigation-bar">
    <div class="nav-bar-region">
        <div class="button-nav-bar">
            <div class="button-nav-bar-animation">Home</div>
        </div>
        <a href="@Url.Action("Index", "Search")"> <div class="button-nav-bar">
            <div class="button-nav-bar-animation">Search</div>
        </div> </a>
        <a href="@Url.Action("Index", "Breeder")">
            <div class="button-nav-bar">
                <div class="button-nav-bar-animation">My Account</div>
            </div>
        </a>
        <a href="@Url.Action("Logout", "Account")">
            <div class="button-nav-bar">
                <div class="button-nav-bar-animation">Logout</div>
            </div>
        </a>
    </div>
</div>
