@{
    ViewBag.Title = "ZnajdzieszTo.pl";
}

<div class="info-popular">
    <div class="info-top">
        Najbardziej popularne
    </div>
</div>

<div class="info-last">
    <div class="info-top">
        Ostatnie
    </div>
</div>

<div class="info-lot-of">
    <div class="info-top">
        Najwięcej
    </div>
</div>
