@model IEnumerable<myTarantulas.Domain.Entities.Tarantula>
@{
    ViewBag.Title = "Tarantulas";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<table>
    <tr>
        <th></th>
        <th class="tarantula-name">
            Name
        </th>
        <th class="tarantula-phase">
            Stage
        </th>
        <th class="tarantula-sex">
            Sex
        </th>
        <th class="tarantula-number">
            Quantity
        </th>
    </tr>
    @foreach (var tarantula in Model)
    {
        <tr>
            <td class="tarantula-checkbox">
                <label class="tarantula-checkbox"></label>
            </td>
            <td class="tarantula-name-label">
                @tarantula.Type
            </td>
            <td class="tarantula-phase-label">
                @tarantula.Phase
            </td>
            <td class="tarantula-sex-label">
                @tarantula.Sex
            </td>
            <td class="tarantula-number-label">
                @tarantula.NumberOf
            </td>
        </tr>
    }
</table>


