
<div class="profile-img">
    <img src="~/Img/profile-image.png" style="width: 140px; margin-left: 15px; margin-top: 15px; border-radius: 50%;" />
</div>

<div class="profile-bar">
    <div class="profile-name">
        @ViewBag.Name
    </div>   
    <div class="profile-fb">
        Social: @ViewBag.Social
    </div>
</div>