
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_BreederAccountPage.cshtml";
}

<div class="content-tarantulas">

    <div class="table-name">
        Messages
    </div>

    <table class="table-bordered">
        <tr>
            <th></th>
            <th class="messages-title">
                Title
            </th>
            <th class="messages-from">
                From
            </th>
        </tr>
    </table>
</div>

