
<div class="nav-table">
    <table>
    <tr>
        <th><a href=@Url.Action("Index", "Home") class="but-opt"><div class="nav-but">Strona głowna</div></a></th>
        <th><a href=@Url.Action("Index", "Uslugi") class="but-opt"><div class="nav-but">Usługi</div></a></th>
        <th><a href=@Url.Action("Index", "Home") class="but-opt"><div class="nav-but">Popularne</div></a></th>
        <th><div class="nav-space"></div></th>
        <th><a href=@Url.Action("Login", "Account") class="but-opt"><div class="nav-but">Zaloguj się</div></a></th>
        <th><a href=@Url.Action("Register", "Account") class="but-opt"><div class="nav-but">Zarejestruj się</div></a></th>
    </tr>
    </table>
</div>
